body.Normal, li.Normal, span.Normal, #tree {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: RGBA(58,58,58,1.000000);
}
span.Normal_link  {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 12.000000px;
    color: #0000ff;
}
p.Normal {
    margin-top: 0;
    margin-bottom: 6.0px;
}
li.Normal {
    margin-top: 0;
    margin-bottom: 0.5em;
}
body.Custom, li.Custom, span.Custom {
    font-family: "Helvetica","Helvetica",sans-serif;
    font-size: 15.000000px;
    color: RGBA(59,59,59,1.000000);
    background-color: RGBA(255,255,255,1.000000);
}
span.Custom_link  {
    font-family: "Helvetica","Helvetica",sans-serif;
    font-size: 15.000000px;
    color: #0000ff;
    background-color: RGBA(255,255,255,1.000000);
}
p.Custom {
    margin-top: 0;
    margin-bottom: 0.0px;
}
li.Custom {
    margin-top: 0;
    margin-bottom: 0.0em;
}
body.Heading2, li.Heading2, span.Heading2 {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 16.000000px;
    color: RGBA(58,58,58,1.000000);
}
span.Heading2_link  {
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 16.000000px;
    color: #0000ff;
}
p.Heading2 {
    margin-top: 0;
    margin-bottom: 8.0px;
}
li.Heading2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
body.Heading1, li.Heading1, span.Heading1 {
    font-family: "HelveticaNeue-Light","Helvetica Neue",sans-serif;
    font-size: 27.000000px;
    color: RGBA(58,58,58,1.000000);
}
span.Heading1_link  {
    font-family: "HelveticaNeue-Light","Helvetica Neue",sans-serif;
    font-size: 27.000000px;
    color: #0000ff;
}
p.Heading1 {
    margin-top: 0;
    margin-bottom: 13.5px;
    border-bottom-style: solid;
    border-bottom-width: 1.0px;
    border-bottom-color: RGBA(58,58,58,1.000000);
    display: inline-block;
    width: 100%;
}
li.Heading1 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
